# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/nodemcu/firmware.bin
.pio/build/nodemcu/firmware.elf
.pio/build/project.checksum
.pio/build/nodemcu/.sconsign39.dblite
.pio/build/nodemcu/idedata.json
.pio/build/nodemcu/ld/local.eagle.app.v6.common.ld
src/main.cpp
platformio.ini
